<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div th:fragment="navbar">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">JSA</a> 
            <div class="container">
              <ul class="nav nav-tabs navbar-left" role="tablist">
                <li><a href="/">Home</a></li>
                <li><a href="/twitter">Search Person of Interest</a></li>
                <li><a href="/verify">Verification Page and Registration</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li class="active"><a href="/about">About</a></li>
              </ul>
            </div>
        </div>
    </div>
  </div>

<div class="jumbotron text-center">
  <h1>About JSA</h1>
  <p>JSA is a juror selection application that allows Georgia Bar qualified lawyers 
  to examine potential juror social media pages via twitter 
  in order to pick a better valid juror to stand in trial. JSA was made by computer 
  science students at Georgia Southern University.
  </p> 

 <div class="center">
    <img src="https://www.wtoc.com/resizer/YHzjGo3mL3tmQZXM5IYfnNFLC1U=/1200x600/cloudfront-us-east-1.images.arcpublishing.com/raycom/T4TANKHCNVBG5A4LVNTACOH67Y.jpg"  width="720" height="480"> 
</div>
</div>
</body>