<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <title>GetResults</title>
  <meta name="author" content="">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="wireframe.css" type="text/css">
</head>

<body>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="display-3 text-capitalize">Get Results</h1>
          <p class="lead text-muted"><b>Enter your keywords below and the usernames of the people who you would like to search.&nbsp;</b><br><b>Results are listed in the table below.&nbsp;</b></p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-3">
          <form method="post" action="">
            <div class="form-group mb-1"> <input type="email" name="email" class="form-control" placeholder="Enter Keyword(s)"> </div> <small id="emailHelp" class="form-text text-muted">Note: You can enter multiple keywords at once.</small>
            <div class="form-group my-3">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">@</span></div> <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Username(s) " >
              </div>
            </div>
            <small id="emailHelp" class="form-text text-muted">Note: You can enter multiple usernames at once.</small>
            <div class="form-check mt-2"> <label class="form-check-label" for="exampleCheck1"></label></div>
          </form><button type="submit" class="btn btn-primary my-2">Go</button>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <h2>Results&nbsp;</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-3">
          <table class="table table-hover table-striped table-bordered">
            <thead class="thead-inverse">
              <tr>
                <th scope="col">Twitter Username</th>
                <th scope="col" style="">Name of Potential Juror</th>
                <th scope="col">Results for Posts with Keywords Entered</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
              <tr class="bg-info">
                <th scope="row">hollypuck</th>
                <td>Holly Puckett</td>
                <td>3 posts with the word gun<br>1. https....<br>2. ^^^<br>3. ^^^<br>4. ^^^<br><br>1 post with the word cop<br>1. https...</td>
              </tr>
              <tr>
                <th scope="row">williamO2018</th>
                <td>Will O'reilly</td>
                <td>2 posts with the word gun&nbsp;<br>1. https....&nbsp;<br>2. ^^^&nbsp;<br>3. ^^^<br><br>0 post with the word cop</td>
              </tr>
              <tr class="bg-info">
                <th scope="row">ktidwell</th>
                <td>Kayla Tidwell</td>
                <td>0 posts with the word gun<br><br>1 post with the word cop<br>1. https...</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td></td>
                <td></td>
              </tr>
              <tr class="bg-info">
                <th scope="row">5</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td></td>
                <td></td>
              </tr>
              <tr class="bg-info">
                <th scope="row" contenteditable="true">7</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td></td>
                <td></td>
              </tr>
              <tr class="bg-info">
                <th scope="row">9</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td></td>
                <td></td>
              </tr>
              <tr class="bg-info">
                <th scope="row">11</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">12</th>
                <td></td>
                <td></td>
              </tr>
              <tr class="bg-info"></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="">
    <div class="container">
      <div class="row pt-5 border-top">
        <div class="col-6 col-md col-md-7 offset-md-5">
          <h5><b>Home Page&nbsp;</b></h5>
          <ul class="list-unstyled">
            <li>
              <a class="text-muted" href="#">About</a>
            </li>
            <li>
              <a class="text-muted" href="#">FAQ</a>
            </li>
            <li>
              <a class="text-muted" href="#">Register</a>
            </li>
            <li>
              <a class="text-muted" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 offset-md-11" style=""><small class="d-block mb-3 text-muted">© 2021</small></div>
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous" style=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" style=""></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" style=""></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" style=""></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" style=""></script>
</body>

</html>
